<div class="reset-container">
<div class="form-container reset-form-container">
  <form action='/forgot-password/reset' method='POST'>
    <h2>Reset Password</h2>
    <span>Please update</span>
    <input type="password" name="password" placeholder="Password" required />
    <input type='password' name='confirmpassword' placeholder='confirm password' required/>
    <input type='hidden' name='token' value='<%=accesstoken %>'></input>
    <button type="submit" value="submit">Submit</button>
  </form>
</div></div>